.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'articles-container';
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header {
  grid-area: header;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    'logo  logged-in-user'
    'logo  logged-in-user';
}

@media only screen and (min-width: 200px) {
  .header {
    height: 125px;
  }
}

@media only screen and (min-width: 650px) {
  .header {
    height: 75px;
  }
}

.logo {
  grid-area: logo;
  text-align: left;
  height: 50px;
  display: grid;
  grid-template-areas:
    'logo-image '
    'logo-title';
}

@media only screen and (min-width: 200px) {
  .logo {
    grid-template-columns: 1fr 8fr;
    grid-template-areas:
      'logo-image logo-title'
      'logo-text logo-text';
  }
}

@media only screen and (min-width: 650px) {
  .logo {
    grid-template-columns: 1fr 8fr 4fr;
    grid-template-areas:
      'logo-image logo-title logo-title'
      'logo-image logo-text logo-text';
  }
}

.logged-in-user {
  grid-area: logged-in-user;
  text-align: right;
  align-self: start;
}

.articles-container {
  grid-area: articles-container;
  background-color: whitesmoke;
  display: grid;
  grid-column-gap: 15px;
  grid-template-areas:
    'topic-header'
    'articles-sorter'
    'articles-list'
    'topics-list';
}

@media only screen and (min-width: 900px) {
  .articles-container {
    grid-template-columns: 20%;
    grid-template-areas:
      'topic-header'
      'articles-sorter'
      'articles-list'
      'topics-list';
  }
}

@media only screen and (min-width: 900px) {
  .articles-container {
    grid-template-columns: 2fr 6fr 2fr 2fr;
    grid-template-areas:
      'topic-header topic-header topic-header topic-header'
      'articles-sorter articles-sorter articles-sorter articles-sorter'
      '. articles-list topics-list .';
  }
}

.block {
  border: 1px solid blue;
}

.topic-header {
  background-color: rgb(226, 241, 247);
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  grid-area: topic-header;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.topic-title {
  align-self: center;
  font-size: 26pt;
  text-transform: capitalize;
}

.articles-list {
  background-color: whitesmoke;
  grid-area: articles-list;
  display: flex;
  flex-direction: column;
}

.article-card {
  background-color: white;
  border: 1px solid lightgrey;
  height: 200px;
  margin: 10px 10px 10px 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'article-topic-header article-author-date-text'
    'article-title-text article-title-text';
}

.topics-list {
  margin-top: 20px;
  background-color: rgba(231, 231, 232, 0.961);
  border: 1px solid lightgrey;
  grid-area: topics-list;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.topic-card {
  background-color: white;
  border: 1px solid lightgrey;
  color: rgb(34, 112, 160);
  font-size: 12pt;
  text-transform: capitalize;
}

.topic-card:link {
  background-color: white;
  border: 1px solid lightgrey;
}

.topic-card:visited {
  background-color: white;
  border: 1px solid lightgrey;
}

.topic-card:hover {
  background-color: white;
  border: 1px solid lightgrey;
  background-color: rgb(226, 241, 247);
}

.articles-sorter {
  grid-area: articles-sorter;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  padding-top: 5px;
  height: 30px;
}

.article-topic-header {
  grid-area: article-topic-header;
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
}

.article-author-date-text {
  grid-area: article-author-date-text;
  text-align: right;
  padding-right: 20px;
}

.article-title-text {
  grid-area: article-title-text;
  font-weight: bold;
  font-size: 14pt;
}

.single-article-container {
  background-color: rgb(226, 241, 247);
  display: grid;
  grid-template-areas:
    'article-header'
    'article'
    'comments';
}

@media only screen and (min-width: 800px) {
  .single-article-container {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      '. article-header .'
      ' . article .'
      '. comments .';
  }
}

@media only screen and (min-width: 800px) {
  .single-article-container {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      '. article-header .'
      '. article .'
      '. comments .';
  }
}

.article-header {
  grid-area: article-header;
  background-color: #282c34;
  border-top: 15px solid rgb(226, 241, 247);
  color: white;
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-areas:
    '. button-close-article'
    'article-header-title article-header-title';
}

.article-header-title {
  grid-area: article-header-title;
  padding-left: 10px;
  padding-right: 10px;
}

.button-close-article {
  grid-area: button-close-article;
}

.article {
  grid-area: article;
  background-color: white;
  display: grid;
  padding-right: 10px;
  grid-template-columns: 1fr 9fr;
  border: 1px solid lightgrey;
  /* margin: 10px 0px 10px 0px; */
  margin: 0px;
  grid-template-areas:
    'voter post-deleter'
    'voter article-text'
    'voter article-text';
}

.article-text {
  grid-area: article-text;
  align-self: start;
  display: grid;
  margin-left: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'article-topic-header article-author-date-text article-author-date-text'
    'article-title-text article-title-text .'
    'article-body article-body article-body'
    '. . view-full-article-text'
    'article-comment-count article-comment-count .';
}

.article-title-text {
  text-align: left;
}

.article-author-date-text {
  color: rgb(108, 108, 108);
}

.article-comment-count {
  font-weight: bold;
  color: rgb(75, 73, 73);
}

.article-body {
  grid-area: article-body;
  text-align: justify;
  padding-right: 20px;
  font-size: 12pt;
}

.truncate-text {
  width: 90%;
  overflow: hidden;
  line-height: 1.2em;
}

.fade {
  position: relative;
  height: 3.6em; /* exactly three lines */
}

.fade:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 1.2em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}

.view-full-article-text {
  grid-area: view-full-article-text;
  text-align: left;
  font-weight: bold;
  margin: 0px;
  font-size: 11pt;
}

.indicate-link:visited {
  text-decoration: underline;
  color: lightgrey;
}

.indicate-link:hover {
  text-decoration: underline;
}

.indicate-link:active {
  text-decoration: underline;
  background-color: lightgrey;
}

.article-comment-count {
  grid-area: article-comment-count;
  text-align: left;
  font-size: 11pt;
}

.voter {
  grid-area: voter;
  padding-left: 10px;
  padding-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comments {
  grid-area: comments;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'comment-adder'
    'comments-list';
}

.comment-adder {
  /* border: 1px solid lightgrey; */
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  grid-area: comment-adder;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'add-comment-text-area'
    'comment-button';
}

.comments-list {
  background-color: whitesmoke;
  grid-area: comments-list;
}

.add-comment-text-area {
  grid-area: add-comment-text-area;
  width: 90%;
  margin-top: 20px;
  min-height: 50px;
  max-height: auto;
  font-size: 12pt;
}

.comment-button {
  grid-area: comment-button;
  width: 80px;
  height: 30px;
  margin: 10px;
  font-size: 10pt;
}

.post-deleter {
  grid-area: post-deleter;
  justify-self: right;
  width: 80px;
  height: 30px;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 10pt;
}

#single-article-title {
  text-align: left;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.link {
  text-decoration: none;
  color: black;
}

/* .link:link {
  color: lightskyblue;
} */

.article-topic-header {
  font-weight: bold;
}

.article-topic-header:link {
  color: rgb(22, 170, 220);
  font-weight: bold;
}

.article-topic-header:visited {
  color: rgb(34, 112, 160);
  font-weight: bold;
}

.article-topic-header:hover {
  color: rgb(23, 23, 162);
}

.button {
  width: 50px;
  height: 30px;
}

#voter-button {
  font-size: 48px;
  background-color: white;
  border: none;
}

.voter-button {
  font-size: 44px;
  background-color: white;
  border: none;
}

#vote-text {
  margin: 0px;
}

.logo-title {
  font-size: 18pt;
  font-weight: bold;
  grid-area: logo-title;
  align-self: start;
  font-family: monospace;
}

#logo-title {
  margin-bottom: 0px;
  margin-top: 10px;
}

.logo-text {
  font-size: 12pt;
  font-style: italic;
  grid-area: logo-text;
  align-self: center;
  font-family: monospace;
}

#logo-text {
  margin-top: 10px;
}

#logo {
  margin-top: 15px;
  width: 50px;
  height: 50px;
}

.logo-image {
  grid-area: logo-image;
  margin-right: 10px;
}
